/* Fontes */
  .poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
  }
  

  .poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
  }

.montserrat-light {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Fontes fim */

/* Geral */
:root {
    --lr-red: #ff3f52;
    --lr-blue-stone: #00565F;
    --lr-lavender-blush: #F0F6F6;
    --lr-sherpa-blue: #00454C;
    --lr-melrose: #B2BEFF;
    --lr-mirage: #131526;
}


article, section {
    padding-left: 3%;
    padding-right: 3%;
}

.textHighlight {
    color: var(--lr-red);
}

.prodCard {
    max-width: 400px;
    font-size: 0.9rem;
    cursor: pointer;
}
.prodCard img {
    max-width: inherit;
    max-height: inherit;
}

.prodSuggestionContainer {
    position: relative;
}
.prodSuggestionContainer svg {
    position: absolute;
    top: 50%;
    right: 1%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    padding: 12px;
    transition: all 0.4s;
}

.prodSuggestionContainer:hover > svg {
    background-color: #f7f7f7;
    border: 1px solid #adadad;
    transform: scale(1.05);
}

.bg-lr-light {
    background-color: var(--lr-lavender-blush);
}
/* Geral  fim */

/* Navbar */
.nav {
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    padding-bottom: 5px;
}


.logo {
    margin-right: 30px;
}

.logo svg {
    width: 100px;
    height: 100px;
    fill: var(--lr-red);
}

.navTopo  {
    width: 100%;
    flex-grow: 1;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* CASA / MODA selecionador */
.site ul {
    list-style-type: none;
    font-weight: bold;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.site li{
    margin-bottom: 1px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
}

.site li:first-child::after {
    content: "";
    display: block;
    border-bottom: 2px solid black;
    height: 1px;
    padding-top: 3px;
    width: 35px;
}

.site li:hover{
    background-color: #dfdfdf;    
}

.searchbar input {
    border-radius: 15px;
    border-width: 0;
    padding: 6px;
    color: black;
}

.has-search .form-control {
    padding-left: 2.375rem;
    background-color: #eeeeee;
}

.has-search .form-control::placeholder {
    color: black;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.navIcon {
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.navIcon p {
    margin: 0;
}
.navIcon svg {
    width: 20px;
}

.navFundo ul {
    list-style-type: none;
    margin: 0;
}

.navFundo li {
    margin-right: 30;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
    border-radius: 15px;
}

.navFundo li:hover {
    background-color: #eeeeee;
}

.menu {
    background-color: #1f1f1f;
    color: #fff;
    border-radius: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 40px;
    cursor: pointer;
}

.newsletter {
    background-color: var(--lr-lavender-blush);
}
/* Navbar fim */

/* Pag Prod */
.prodDisplay {
    position: relative;
}

.prodDisplay img {
    height: 100%;
}

.prodDisplay .imgBtCtrl {
    position: absolute;
    bottom: 3%;
    right: 5%;
}

.prodDisplayImgContainer {
    width: 100%;
    height: 100%;
}

.imgBtn {
    border: 1px solid #eee;
    background-color: white;
    border-radius: 10px;
    padding: 10px 16px;
    transition: ease .1s;
}

.imgBtnHighlight {
    border: 2px solid var(--lr-red);
    fill: var(--lr-red);
    color: var(--lr-red);
}

.imgBtn svg {
    height: 1rem;
}

.imgBtn:hover {
    transform: scale(1.05);
}

.canvasControls {
    position: absolute;
    top: 4%;
    right: 5%;
}

.canvasControls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.canvasControls button {
    border: 1px solid #eeeeee;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px;
    transition: ease .1s;
}

.canvasControls svg {
    fill: #000;
    width: 2rem;
    height: 2rem;
}

.canvasControls button:hover {
    transform: scale(1.05);

}
.canvasControls button:hover svg {
    fill: var(--lr-red);
}
#prodDisplay3dCanvas {
    display: none; /* Canvas oculto por omissão, será alterado por javascript */
}

.breadcrumb-item { /* Bootstrap class override */
    font-size: 0.8rem;
}

.dropdown-menu { /* Bootstrap override */
    border: 2px solid #4e4e4e;
    background-color: #fafafa;
    padding: 0;
}

.dropdown-menu hr { /* Bootstrap override */
    margin: 0;
}

.prodDetail {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid #eee !important;
    border-radius: 10px;
    width: max-content;
    padding: 10px 15px;
    cursor: pointer;
}

.prodDetail p {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #1f1f1f;
}

.prodDetailInactive {
    cursor: default !important;
}

.prodDetailInactive p {
    color:#868686 !important;
}

.prodDetail img {
    height: 2.3rem;
    width: 2.3rem;
    border: 1px solid #eee;
    border-radius: 8px;
}

.prodDetail svg {
    width: 10px;
}

.prodDetailMenuItem {
    display: flex;
    align-items: center;
    gap: 16px;
    width: max-content;
    cursor: pointer;
    padding: 10px;
    margin: 0;
    width: 100%;
    transition: ease 0.4s;
    border-radius: 5px;
}

.prodDetailMenuItem p {
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #1f1f1f;

}

.prodDetailMenuItem img {
    height: 3rem;
    width: 3rem;
    border: 1px solid #eee;
    border-radius: 8px;
}

.prodDetailMenuItem:hover {
    background-color: #eee;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {  
    opacity: 1; /* Para manter o icon de input de números sempre vísivel */
 }

 .progress { /* Bootstrap override */
    border-radius: 1px;
 }
/* Pag Prod fim */

/* Pag List inicio */
.filterBtn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 6px 10px;
}

.filterBtn p {
    margin: 0;
    color: #868686;
    font-weight: 500;
}

.filterBtn svg {
    width: 10px;
    height: 10px;
    fill: #868686
}

.listProdMenu {
    position: sticky;
    top: 140px;
    align-self: flex-start;
    min-width: fit-content;
}
/* Pag List fim */

/* Pag inicial */
.hero {
    background-image: url(/media/images/design/hero.jpg);
    background-position: 20% 70%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 47%;

}

.prodCardSM img {
    max-width: 200px;
}

.prodCardSM {
    max-width: 240px !important;
    overflow: hidden;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px
}

.categoryCard {
    display: flex;
    flex-direction: column;
    background-color: var(--lr-mirage);
    border-radius: 5px;
    max-width: 240px;
}

.categoryCard h4 {
    padding: 20px;
    color: var(--lr-melrose);
}

.categoryCard img {
    max-height: 65%;
    width: auto;
    margin-top: auto;
}

.pageCard {
    background-repeat: no-repeat;
    width: 455px;
    height: 605px;
}

.pageCard .mask {
    background-color: rgba(0, 0, 0, 0.3);
}

.pageCard p, .pageCard h5 {
    color: #fff;
}

.pageCard p {
    margin: 0;
    font-weight: 280;
}

.pageCard svg, .selecaoMomentoCard svg {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
}

.pageCardLg {
    height: 685px !important;
    width: 685px !important;
}

.selecaoMomentoCard {
    text-align: center;
    padding: 20px;
    max-width: 455px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
}

.selecaoMomentoCard img {
    width: 150px;
}

.selecaoMomentoCard svg {
    width: 30px;
    height: 30px;
}

/* Pag Inicial fim */


.widget_prdctCarousel_titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .widget_prdctCarousel_titleContainer {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .widget_prdctCarousel_titleContainer {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1376px) {
  .widget_prdctCarousel_titleContainer {
    max-width: 1376px; /* As per designer request */
    margin-left: auto;
    margin-right: auto;
  }
}
.widget_prdctCarousel_titleContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 16px;
  margin-bottom: 24px;
  padding-top: 24px;
}
.widget_prdctCarousel_titleContainer .reco-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 768px) {
  .widget_prdctCarousel_titleContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.widget_prdctCarousel_mainTitle {
  font-weight: 600;
  font-family: "Poppins";
  font-size: 26px;
  line-height: 36px;
}
@media (min-width: 992px) {
  .widget_prdctCarousel_mainTitle {
    font-size: 38px;
    line-height: 52px;
  }
}
@media (min-width: 1200px) {
  .widget_prdctCarousel_mainTitle {
    font-size: 40px;
    line-height: 56px;
  }
}
html:lang(ru-RU) .widget_prdctCarousel_mainTitle {
  font-family: "Source Sans Pro";
  font-size: 29px;
}
@media (min-width: 992px) {
  html:lang(ru-RU) .widget_prdctCarousel_mainTitle {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  html:lang(ru-RU) .widget_prdctCarousel_mainTitle {
    font-size: 44px;
  }
}
.widget_prdctCarousel_mainTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
}
@media (min-width: 768px) {
  .widget_prdctCarousel_mainTitle {
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media (min-width: 1200px) {
  .widget_prdctCarousel_mainTitle {
    max-width: 1152px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 1376px) {
  .widget_prdctCarousel_mainTitle {
    max-width: 1376px; /* As per designer request */
    margin-left: auto;
    margin-right: auto;
  }
}
.widget_prdctCarousel_mainTitle {
  margin-bottom: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  word-break: break-word;
}